$black: #1b0e02;
$blue-dark: #12296c;
$blue-light: #1a3a97;
$brown-primary: #b17a02;
$red-primary: #e65f59;
$gray-light: #fcfcfc;
$gray-secondary: #6b6d6a;
$gray-main: #acb0ad;
$yellow-main: #fbda03;
$yellow-secondary: #fee569;
$white: #ffffff;
