$black: #1b0e02;
$blue: #12296c;
$blue-light: #1a3a97;
$brown: #b17a02;
$red: #e65f59;
$gray-secondary: #6b6d6a;
$gray-main: #acb0ad;
$yellow-main: #fbda03;
$yellow-secondary: #fee569;
$white: #fcfcfc;
