@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: 'Inter', 'sans-serif', monospace;
  color: $black;
  background: $yellow-secondary;
}

input {
  background-color: $white;

  &:disabled {
    background-color: color-mix(in srgb, $white 100%, $yellow-secondary 30%);
  }

  &:is(:-webkit-autofill, :autofill) {
    box-shadow: inset 0 0 0 100px $white;

    &:disabled {
      box-shadow: inset 0 0 0 100px color-mix(in srgb, $white 100%, $yellow-secondary 30%);
    }
  }
}
